<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= error %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="body">
        <header>
            <h1><a href="/">Forum</a></h1>
        </header>
        <section class="main-new">
            <div>
                <h1><%= error %> </h1>
                <a href="/" class="err">return</a>
            </div>
        </section>
    </div>
</body>
</html>