<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
   <link rel="stylesheet" href="/css/style.css" type="text/css">
   <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="body">
        <header>
            <h1>Forum</h1>
        </header>
        <section class="main">
            <div class="feed">
                <% posts.forEach(element => { %>
                 <div class="post-main">
                     <h2><%= element.title %></h3>
                     <h4><%= element.username %></h6>
                     <p><%= element.text %></p>
                 </div>
                <% }) %> 
            </div>
            <div class="side-panel-type">
                <div class="info">
                    <a href="/new">New Post</button>
                </div>
                <div class="cred">
                    <a href="http://github.com/txtstyle" target="_blank">TXTstyle</a>
                </div>
            </div>
        </section>
    </div>
  </body>
</html>
