<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
   <link rel="stylesheet" href="/css/style.css" type="text/css">
   <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="body">
        <header>
            <h1>Forum</h1>
        </header>
        <section class="main">
            <div class="feed">
                <%- include('./post'); %> 
            </div>
            <div class="side-panel-type">
                <h4>Welcome <%= locals.user.username %>!</h4>
                <% if (auth) { %>
                    <div class="info">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                        <div>
                            <a href="/new">New Post</a>
                        </div>
                    </div>    
                <% } else { %> 
                    <div class="info">
                        <div>
                            <a href="/login">Login</a>
                        </div>
                        <div>
                            <a href="/register">Register</a>
                        </div>
                    </div>
                <% } %> 
                <div class="cred">
                    <a href="http://github.com/txtstyle" target="_blank">TXTstyle</a>
                </div>
            </div>
        </section>
    </div>
  </body>
</html>
