<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coinbase</title>
   <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <header>
      <h3 id="CoinB"><strong>coinbase</strong></h3>
      <ul>
        <li>Prices</li>
        <li>Learn</li>
        <li>Individuals</li>
        <li>Businesses</li>
        <li>Developers</li>
        <li>Company</li>
      </ul>
      <div class="GetStart">
        <h3>Sign in</h3>
        <button>Get started</button>
      </div>
    </header>
    <section>
      <div class="front-phone-div">
        <div class="front-phone-ch front-phone-box">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Jump start your portfolio →
          </a>
          <h1>Jump start your crypto portfolio</h1>
          <p>
            Coinbase is the easiest place to buy and sell cryptocurrency. Sign
            up and get started today.
          </p>
          <form action="">
            <input type="email" id="" placeholder="Email address" />
            <button type="submit">Get started</button>
          </form>
        </div>
        <div>
          <img src="/res/phone.png" alt="phone"/>
        </div>
      </div>
      <table class="table-div">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Change</th>
          <th>Chart</th>
          <th>Trade</th>
        </tr>
        <tr>
          <th>1</th>
          <th>Bitcoin - BTC</th>
          <th>USD</th>
          <th>%</th>
          <th>⇗</th>
          <th><button>Buy</button></th>
        </tr>
        <tr>
          <th>2</th>
          <th>Ethereum - ETH</th>
          <th>USD</th>
          <th>%</th>
          <th>⇗</th>
          <th><button>Buy</button></th>
        </tr>
        <tr>
          <th>3</th>
          <th>Litecoin - LTC</th>
          <th>USD</th>
          <th>%</th>
          <th>⇗</th>
          <th><button>Buy</button></th>
        </tr>
        <tr>
          <th>4</th>
          <th>Bitcoin Cash - BCH</th>
          <th>USD</th>
          <th>%</th>
          <th>⇗</th>
          <th><button>Buy</button></th>
        </tr>
      </table>
      <div class="front-phone-div">
        <div class="front-phone-box front-phone-ch earnUp">
          <h2>Earn up to $32 worth of crypto</h2>
          <p>
            Discover how specific cryptocurrencies work — and get a bit of each
            crypto to try out for yourself.
          </p>
          <button>Start earning</button>
        </div>
        <div class="front-phone-ch earnFet">
          <ul>
            <li>Fetch.ai - FET</li>
            <li>Clover Finance - CLV</li>
            <li>The Graph - GRT</li>
            <li>Amp - AMP</li>
          </ul>
          <ul>
            <li>Earn $3 FET</li>
            <li>Earn $3 CLV</li>
            <li>Earn $4 GRT</li>
            <li>Earn $3 AMP</li>
          </ul>
        </div>
      </div>
      <h2>Create your cryptocurrency portfolio today</h2>
      <p>
        Coinbase has a variety of features that make it the best place to start
        trading
      </p>
      <div>
        <div>
          <img src="" alt="" />
          <h3>Manage your portfolio</h3>
          <p>
            Buy and sell popular digital currencies, keep track of them in the
            one place.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Recurring buys</h3>
          <p>
            Invest in cryptocurrency slowly over time by scheduling buys daily,
            weekly, or monthly.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Mobile apps</h3>
          <p>
            Stay on top of the markets with the Coinbase app for Android or iOS.
          </p>
        </div>
        <img src="" alt="" />
      </div>
    </section>
    <section>
      <h2>The most trusted cryptocurrency platform</h2>
      <p>Here are a few reasons why you should choose Coinbase</p>
      <div>
        <div>
          <img src="" alt="" />
          <h3>Secure storage</h3>
          <p>
            We store the vast majority of the digital assets in secure offline
            storage.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Protected by insurance</h3>
          <p>
            Coinbase maintains crypto insurance and all USD cash balances are
            covered by FDIC insurance, up to a maximum of $250,000.
          </p>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Industry best practices</h3>
          <p>
            Coinbase supports a variety of the most popular digital currencies.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div>
          <h2>$462B</h2>
          <p>Quarterly volume traded</p>
        </div>
        <div>
          <h2>100+</h2>
          <p>Countries supported</p>
        </div>
        <div>
          <h3>68+M</h3>
          <p>Verified users</p>
        </div>
      </div>
    </section>
    <footer>
      <div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
            <li>About</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
