<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="body">
        <header>
            <h1><a href="/">Forum</a></h1>
        </header>
        <section class="main-new">
            <form action="" method="post" class="post-form">
                <label for="title">Title:</label>
                <input type="text" name="title1" id="title" required maxlength="25" minlength="1">
                <label for="name">Display Name:</label>
                <input type="text" name="name1" id="name" required maxlength="15" minlength="1">
                <label for="text" >Text:</label>
                <textarea name="textarea1" id="text" cols="50" rows="10" required maxlength="250" minlength="1"></textarea>
                <input type="submit" value="POST" id="sumbit1">
            </form>
        </section>
    </div>
</body>
</html>