@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Raleway:wght@500&family=Urbanist:wght@600;800&display=swap");

/*
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Urbanist', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #1F273C;
}

.body {
  display: grid;
  grid-template: auto auto;
  margin: 0 auto;
  max-width: 1920px;
}

header {
  border-bottom: #727986 solid 1px;
}

header h1{
  margin: 1.1rem;
  font-size: 65px;
  color: #4F8AA9;
}

header h1 a {
  text-decoration: none;
  color: #4F8AA9;
}

header h1 a:active {
  text-decoration: none;
  color: #4F8AA9;
}

header h1 a:visited {
  text-decoration: none;
  color: #4F8AA9;
}

.main {
  display: grid;
  grid-template-columns: 1fr 25%;
  margin-top: 1em;
}

.feed {
  
  min-height: 500px;
}

.side-panel-type {
  background-color: #4F8AA9;
  border-radius: 12px;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  max-height: 200px;
}

.cred a {
  list-style: none;
  font-size: 22px;
  color: white;
  text-decoration: none;
}


.info a{
  text-decoration: none;
  padding: 1.2em 4em;
  font-size: 26px;
  background-color: #1F273C;
  border-radius: 12px;
  border: none;
  color: #EBE8E9;
  text-align: center;
}

.info a:hover {
  cursor: pointer;
  background-color: #222b42;
}


.info a:active {
  background-color: #192031;
}



/*
  post
*/

.post-main {
  background-color: #EBE8E9;
  border-radius: 12px;
  padding: 8px;
  margin: 0 12px 12px 12px;
  min-height: 150px;
}

.post-main p {
  height: fit-content;
}

/*
  new post
*/

.main-new {
  margin: 1em auto;
  padding: 1em;
  background-color: #4F8AA9;
  border-radius: 12px;
  
}

.post-form {
  display: flex;
  flex-direction: column;
  border: none;
}

.post-form textarea, input {
  background-color: #EBE8E9;
  border: none;
  border-radius: 3px;
}

#sumbit1 {
  margin-top: 10px;
  padding: 1rem;
  font-size: 22px;
  background-color: #1F273C;
  color: #EBE8E9;
}

#submit1:hover {
  background-color: #222b42;
}

.post-form textarea {
  resize: vertical;
}
.post-form label {
  font-size: 18px;
}